/* contains styes for App, Store and ShopCart components*/

@font-face {
  font-family: 'Lavishly Yours';
  src: url('./fonts/Lavishly_Yours/LavishlyYours-Regular.ttf') format('woff');
}

html {
  overflow: overlay;
  scrollbar-gutter: stable;
}

.menu-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(253, 251, 241, 0.9);
  box-shadow: 1px 1px 40px 2px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
}

.logo {
  font-family: 'Lavishly Yours';
  font-size: 2.5rem;
  font-weight: 800;
  color: rgb(182, 159, 59);
}

.menu-links a {
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
  color: rgb(121, 115, 30);
}

.menu-links a:hover {
  text-shadow: rgb(184, 104, 1) 0.5px 0px 1px;
}

h1 {
  color: rgb(197, 164, 103);
  text-align: center;
}

main,
.cart {
  color: rgb(85, 81, 19);
}

.cart {
  position: fixed;
  bottom: 0;
  width: 95vw;
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  background-color: rgba(253, 251, 241, 0.9);
  box-shadow: 1px 1px 40px 2px rgba(0, 0, 0, 0.1);
}

.how-many {
  font-size: 1.5rem;
}

.checkout-button {
  background: none;
  border: none;
  background-color: rgb(100, 96, 30);
  color: rgb(253, 251, 241);
  padding: 1rem 2rem;
  font-weight: 600;
}

.checkout-button:hover {
  cursor: pointer;
  background-color: rgb(136, 132, 53);
}

main {
  padding-bottom: 5rem;
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}