.contact-contents {
    text-align: center;
    padding: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submit-button {
    justify-self: center;
    width: 70px;
    height: 30px;
    background: none;
    border: none;
    background-color: rgb(124, 120, 46);
    color: rgb(253, 251, 241);
    font-weight: 600;
}

.submit-button:hover {
    cursor: pointer;
    background-color: rgb(161, 157, 72);
}

.submitted-text {
    height: 1rem;
    padding: 1rem;
}