@font-face {
  font-family: 'Libre Bodoni';
  src: url('./fonts/Libre_Bodoni/LibreBodoni-VariableFont_wght.ttf') format('woff');
}

body {
  margin: 0;
  font-family: 'Libre Bodoni', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: rgb(253, 251, 241);
}
